body
{
  background-color: #0d2f51;
}
#center-div
{
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  margin-top: 210px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30em;
  height: 100px;
  border-radius: 3px;
  color: white;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.1rem;

}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  opacity: 0.8%;
}

.name {
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

.about {
  white-space: nowrap;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.social {
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: -40px;
}

#one {
  overflow:hidden;
  display:inline-block;
  width: 20%;
}

#one img {
  height: 50%;
  width: 50%;
  filter: invert(100%);
}

#two {
  overflow:hidden;
  display:inline-block;
  width: 20%;
}

#two img {
  height: 50%;
  width: 50%;
  filter: invert(100%);
}

#three {
  overflow:hidden;
  display:inline-block;
  width: 20%;
}

#three img {
  height: 50%;
  width: 50%;
  filter: invert(100%);
}


@media screen and (max-width: 64em) and (min-width: 42em) {
  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  #center-div {
    margin-top: 600px;
  }

  .name {
    padding-top: 0;
  }

  .about {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
